#banner {
  /* background: url('../../assets/images/banner3_min.jpg') center #000;
  background-repeat: no-repeat; */
  /* background-size: contain; */
  background-color: #000;
}
#header {
  height: 360px;
}
